{% extends 'base.html.twig' %}

{% block title %}Hello AuthorController!{% endblock %}

{% block body %}

<h1>{{author.firstName}} - {{author.lastName}}</h1>

<div class="row d-flex justify-content-center">
{% for book in author.books %}
<div class="card col-md-3 m-1" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text">{{book.coverText}}</p>
    <a href="{{path('app_book_show',{'id':book.id})}}" class="btn btn-primary">Voir</a>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
